{% include 'post/base.html' %}
{% block content %}
<div class="settings">
    <form method="post">
        {% csrf_token %}
        <div class="flex-nowrap">
            <img class="profile-pfp" src="{{user.profile.image.url}}">
            <h1>{{user.username}}</h1>
            <input class="form-control" type="file" id="image">
          </div>
        
        <div class="input-group flex-nowrap" style="margin-top:2%;">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <input type="text" class="form-control" value="{{user.username}}" id="username" name="username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap"  style="margin-top:2%;">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <input type="text" readonly class="form-control" id="staticEmail" value="{{user.email}}" aria-describedby="addon-wrapping">
          </div>
        
        <div class="input-group flex-nowrap" style="margin-top:2%;">
        <label for="theme" class="col-sm-2 col-form-label">Select a Theme</label>
        <select class="form-select" name="theme" id="theme">
            <option selected>Choose a theme</option>
            <option value="1" name="theme">Light</option>
            <option value="2" name="theme">Dark</option>
        </select>
        
        </div>
        <div class="input-group flex-nowrap"  style="margin-top:2%;">
            <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
            <textarea style="margin-left:1%;"class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" style="margin-top:1%;" type = "submit" value="Save">
    </form> 
</div>
{% endblock content %}