{% include 'post/base.html' %}
{% block content %}
<div class="change-theme">
    <form method="post">
        <h1> Choose a theme </h1>
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="theme">
            <option selected>Choose a theme</option>
            <option value="1" name="theme">Light</option>
            <option value="2" name="theme">Dark</option>
        </select>
        <input class="btn btn-primary change-theme-submit" type = "submit" value="Choose">
    </form>
</div>
{% endblock content %}