
{% include 'post/base.html' %}
{% block content %}
<div class="login">
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" style="text-decoration:none;"href="#">Sign Up Now</a>
    </small>
</div>
</div>
{% endblock content %}