{% include 'post/base.html' %}
{% block content %}
<div class="profile">
    <img class="profile-pfp" src="{{profile.profile.image.url}}">
    <h1>{{profile.username}} Followers {{profile.profile.followers}} Following {{profile.profile.following}}</h1>
</div>
<p>{{profile.profile.bio}}</p>
{% if following == True %}
    <a href="{% url 'unfollow' username=profile.username %} " style="text-decoration:none;"><button type="button" class="btn btn-{{user.profile.theme}}">Unfollow</button></a>
{% else %}
    <a href="{% url 'follow' username=profile.username %} " style="text-decoration:none;"><button type="button" class="btn btn-{{user.profile.theme}}">Follow</button></a>
{% endif %}
{% for post in posts %}
    <a href="{% url 'post-detail' id=post.id %}" style="text-decoration:none;"><div class="posts">
        <a style="text-decoration:none;" href="{% url 'public_profile' username=post.user.username %}">
            <p><img class="pfp" src="{{post.user.profile.image.url}}" alt="Avatar">{{post.user}}</p>
        </a>
        
        <p>{{post.date_posted}}</p>
        {% if post.video_file %}
              <video class="posts-image" controls>
                <source src="{{post.file.url}}" type="video/mp4"> </source>
              </video>
            {% else %}
              <img class="posts-image" src="{{post.file.url}}">
            {% endif %}
        <p>{{post.description}}</p>
        <a style="text-decoration:none;" href="{% url 'post-like' id=post.id %}">❤️ {{post.likes}}</a>
        {% for comment in post.comments.all|slice:"0:3"%}
            <p class="posts-comments">{{comment.user}} {{comment.text}}</p>
        {% endfor %}
    </div></a>
{% endfor %}
{% endblock content%}