{% include 'post/base.html' %}
{% block content %}
<div style="margin-left: 30%;margin-right: 30%;">
        <div class="input-group flex-nowrap" style="margin-top:2%">
            <img style="width: 7vw;height: 7vw;object-fit: cover;border-radius: 50%;" src="{{user.profile.image.url}}">
            <div class="public-profile-info">
                <p style="margin-left:5%;margin-top:1%">
                    <b>{{user.username}}</b> {{user.profile.full_name}}<br>
                    <b>{{user.profile.follower_users.count}}</b> Followers 
                    <b>{{user.profile.following_users.count}}</b> Following <br>
                    <a class="text-decoration-none" href="https://{{user.profile.website}}">{{user.profile.website}}</a>
                </p>
                <p style="margin-left:5%;margin-top:1%">{{user.profile.bio|linebreaks}}</p>
                
            </div>
        </div>
        
        <p class="text-start">
            
            
        </p>
        
        
</div>
{% endblock content%}