.frame811login-container {
  min-height: 100vh;
}
.frame811login-frame811login {
  width: 1440px;
  height: 860px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: var(--dl-color-neutral-white);
}
.frame811login-text {
  top: 177px;
  left: 545px;
  color: var(--dl-color-neutral-black);
  width: 350px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 82px;
  text-decoration: none;
}
.frame811login-textfieldcontainedinputfielddefault {
  top: 284px;
  left: 545px;
  width: 350px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame811login-box {
  top: 20px;
  left: 0px;
  width: 350px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame811login-text01 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-gray);
  width: 326px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-text02 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 350px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame811login-textfieldcontainedinputrighticondefault {
  top: 376px;
  left: 545px;
  width: 350px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame811login-box1 {
  top: 20px;
  left: 0px;
  width: 350px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame811login-text03 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-gray);
  width: 298px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-iconoutlinedactioneyeeyeon {
  top: 32px;
  left: 318px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame811login-text04 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 350px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame811login-controlscheckboxwithtextunselecteddefault {
  top: 468px;
  left: 545px;
  width: 350px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame811login-controlscheckboxonlyunselecteddefault {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame811login-rect {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}
.frame811login-text05 {
  top: 0px;
  left: 32px;
  color: var(--dl-color-neutral-black);
  width: 318px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-buttoncontainedaccentdefault {
  top: 528px;
  left: 545px;
  width: 350px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-shadow: 0px 8px 20px 0px rgba(78, 96, 255, 0.1599999964237213) ;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.frame811login-text06 {
  color: var(--dl-color-neutral-white);
  width: 318px;
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-buttontextaccentdefault {
  top: 588px;
  left: 545px;
  width: 350px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.frame811login-text07 {
  width: 318px;
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-text08 {
  top: 726px;
  left: 545px;
  color: var(--dl-color-neutral-graydark);
  width: 350px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame811login-text09 {
  color: rgba(84, 85, 99, 1);
  width: 350px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame811login-text10 {
  color: rgba(78, 96, 255, 1);
  width: 350px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.frame811login-text11 {
  color: rgba(78, 96, 255, 1);
  width: 350px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
