.frame31accountsettings-container {
  min-height: 100vh;
}
.frame31accountsettings-frame31accountsettings {
  width: 1440px;
  height: 860px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: var(--dl-color-neutral-white);
}
.frame31accountsettings-text {
  top: 80px;
  left: 355px;
  color: var(--dl-color-neutral-black);
  width: 730px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame31accountsettings-account {
  top: 124px;
  left: 355px;
  width: 730px;
  height: 688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-cardelementscardoutlineddefault {
  top: 0px;
  left: 0px;
  width: 730px;
  height: 688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box {
  top: 0px;
  left: 0px;
  width: 730px;
  height: 688px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame31accountsettings-buttoncontainedaccentdefault {
  top: 624px;
  left: 590px;
  width: 124px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-shadow: 0px 8px 20px 0px rgba(78, 96, 255, 0.1599999964237213) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 8px;
}
.frame31accountsettings-text01 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-buttonoutlinedgraydefault {
  top: 624px;
  left: 431px;
  width: 143px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(131, 133, 156, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text02 {
  color: var(--dl-color-neutral-gray);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-buttonoutlinederrordefault {
  top: 624px;
  left: 16px;
  width: 84px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(255, 92, 95, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text03 {
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-svg {
  top: 604px;
  width: 730;
  height: 0;
  position: absolute;
}
.frame31accountsettings-fields {
  top: 192px;
  left: 16px;
  width: 698px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box01 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text04 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text05 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled1 {
  top: 0px;
  left: 357px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box02 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text06 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text07 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-fields1 {
  top: 288px;
  left: 16px;
  width: 698px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled2 {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box03 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text08 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text09 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled3 {
  top: 0px;
  left: 357px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box04 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text10 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text11 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-fields2 {
  top: 380px;
  left: 16px;
  width: 698px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled4 {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box05 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text12 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text13 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled5 {
  top: 0px;
  left: 357px;
  width: 341px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box06 {
  top: 20px;
  left: 0px;
  width: 341px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text14 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 317px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text15 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 341px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-fields3 {
  top: 456px;
  left: 16px;
  width: 698px;
  height: 84px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-textfieldcontainedinputfieldfilled6 {
  top: 0px;
  left: 0px;
  width: 698px;
  height: 167px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box07 {
  top: 20px;
  left: 0px;
  width: 698px;
  height: 127px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(199, 200, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text16 {
  top: 32px;
  left: 12px;
  color: var(--dl-color-neutral-black);
  width: 674px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-text17 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-graydark);
  width: 698px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-text18 {
  top: 24px;
  left: 16px;
  color: var(--dl-color-neutral-black);
  width: 698px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame31accountsettings-text19 {
  top: 64px;
  left: 16px;
  color: var(--dl-color-neutral-graydark);
  width: 698px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame31accountsettings-avatarothermainavatar {
  top: 88px;
  left: 16px;
  width: 88px;
  height: 88px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
}
.frame31accountsettings-img {
  top: -30px;
  left: -16px;
  width: 120px;
  height: 160px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame31accountsettings-buttonoutlinedaccentdefault {
  top: 110px;
  left: 128px;
  width: 83px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(78, 96, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.frame31accountsettings-text20 {
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-buttontextgraydefault {
  top: 110px;
  left: 227px;
  width: 86px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame31accountsettings-text21 {
  color: var(--dl-color-neutral-gray);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-navigationmenuhorizontalexampledesktopmainapp {
  top: -2px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-navigationhorizontalelementssheetwhite {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box08 {
  top: 0px;
  left: 2.2737367544323206e-13px;
  width: 1440px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: var(--dl-color-neutral-white);
}
.frame31accountsettings-svg1 {
  top: 80px;
  width: 1440;
  height: 0;
  position: absolute;
}
.frame31accountsettings-items {
  top: 24px;
  left: 1067px;
  width: 71px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame31accountsettings-secondaryitems {
  margin: 0 20px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame31accountsettings-navigationhorizontalelementsitemdefault {
  display: flex;
  padding: 6px 0;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame31accountsettings-text22 {
  color: var(--dl-color-neutral-black);
  height: auto;
  align-self: auto;
  text-align: right;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-svg2 {
  width: 0;
  height: 32;
}
.frame31accountsettings-box09 {
  top: 20px;
  left: 800px;
  width: 224px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-graylightest);
}
.frame31accountsettings-text23 {
  top: 31px;
  left: 813px;
  color: var(--dl-color-neutral-gray);
  width: 164px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame31accountsettings-iconoutlinedactionmainsearch {
  top: 33px;
  left: 992px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame31accountsettings-text24 {
  top: -2px;
  left: 127px;
  color: var(--dl-color-neutral-black);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 700px;
  line-height: 82px;
  font-stretch: normal;
  text-decoration: none;
}
.frame31accountsettings-navigationhorizontalelementsprofileselected {
  top: 16px;
  left: 1208px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame31accountsettings-box10 {
  top: -1px;
  left: -1px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(78, 96, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
}
.frame31accountsettings-avatarothermainavatar1 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame31accountsettings-img1 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame31accountsettings-screenshot202207312306184 {
  top: 20px;
  left: 1148px;
  width: 39px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
