.frame112explore-container {
  min-height: 100vh;
}
.frame112explore-frame112explore {
  width: 1440px;
  height: 860px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-navigationmenuhorizontalexampledesktopmainapp {
  top: -2px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-navigationhorizontalelementssheetwhite {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box {
  top: 0px;
  left: 2.2737367544323206e-13px;
  width: 1440px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-svg {
  top: 80px;
  width: 1440;
  height: 0;
  position: absolute;
}
.frame112explore-items {
  top: 24px;
  left: 1067px;
  width: 71px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-secondaryitems {
  margin: 0 20px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-navigationhorizontalelementsitemdefault {
  display: flex;
  padding: 6px 0;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-text {
  color: var(--dl-color-neutral-black);
  height: auto;
  align-self: auto;
  text-align: right;
  line-height: 20px;
  text-decoration: none;
}
.frame112explore-svg1 {
  width: 0;
  height: 32;
}
.frame112explore-box1 {
  top: 20px;
  left: 800px;
  width: 224px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-graylightest);
}
.frame112explore-text01 {
  top: 31px;
  left: 813px;
  color: var(--dl-color-neutral-gray);
  width: 164px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  text-decoration: none;
}
.frame112explore-iconoutlinedactionmainsearch {
  top: 33px;
  left: 992px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text02 {
  top: -2px;
  left: 127px;
  color: var(--dl-color-neutral-black);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 700px;
  line-height: 82px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-navigationhorizontalelementsprofileselected {
  top: 16px;
  left: 1208px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box2 {
  top: -1px;
  left: -1px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(78, 96, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
}
.frame112explore-avatarothermainavatar {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-screenshot202207312306183 {
  top: 20px;
  left: 1148px;
  width: 39px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-cardexamplerestaurant {
  top: 498px;
  left: 174px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box3 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text03 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-avatarothermainavatar1 {
  top: 503px;
  left: 180px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img1 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text04 {
  top: 513px;
  left: 241px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-screenshot2022012814084714 {
  top: 557px;
  left: 175px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured {
  top: 557px;
  left: 404px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text05 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text06 {
  top: 801px;
  left: 190px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart14 {
  top: 743px;
  left: 180px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text14 {
  top: 739px;
  left: 219px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-cardexamplerestaurant1 {
  top: 498px;
  left: 938px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault1 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box4 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant1 {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text15 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount1 {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask1 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-avatarothermainavatar2 {
  top: 503px;
  left: 944px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img2 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text16 {
  top: 513px;
  left: 1005px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-screenshot2022012814084715 {
  top: 557px;
  left: 939px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured1 {
  top: 557px;
  left: 1168px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text17 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text18 {
  top: 801px;
  left: 954px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart15 {
  top: 743px;
  left: 944px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text26 {
  top: 739px;
  left: 983px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-cardexamplerestaurant2 {
  top: 100px;
  left: 174px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault2 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box5 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant2 {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text27 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount2 {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask2 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text28 {
  top: 115px;
  left: 241px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-badgecontentindicatorfeatured2 {
  top: 159px;
  left: 404px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text29 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text30 {
  top: 409px;
  left: 190px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart17 {
  top: 345px;
  left: 180px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text34 {
  top: 341px;
  left: 219px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-cardexamplerestaurant3 {
  top: 100px;
  left: 938px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault3 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box6 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant3 {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text35 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount3 {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask3 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-avatarothermainavatar3 {
  top: 105px;
  left: 944px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img3 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text36 {
  top: 115px;
  left: 1005px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-screenshot202201281408478 {
  top: 159px;
  left: 939px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured3 {
  top: 159px;
  left: 1168px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text37 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text38 {
  top: 403px;
  left: 954px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart8 {
  top: 345px;
  left: 944px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text46 {
  top: 341px;
  left: 983px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-cardexamplerestaurant4 {
  top: 100px;
  left: 569px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault4 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box7 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant4 {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text47 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount4 {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask4 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-avatarothermainavatar4 {
  top: 105px;
  left: 575px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img4 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text48 {
  top: 115px;
  left: 636px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-screenshot2022012814084716 {
  top: 159px;
  left: 570px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured4 {
  top: 159px;
  left: 799px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text49 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text50 {
  top: 403px;
  left: 585px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart16 {
  top: 345px;
  left: 575px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text58 {
  top: 341px;
  left: 614px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-screenshot2022012814084719 {
  top: 159px;
  left: 175px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured5 {
  top: 159px;
  left: 404px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
  background-color: rgba(255, 0, 0, 1);
}
.frame112explore-text59 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-avatarothermainavatar5 {
  top: 104px;
  left: 180px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img5 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-cardexamplerestaurant5 {
  top: 498px;
  left: 568px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-cardelementscardoutlineddefault5 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-box8 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 373px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(237, 238, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  background-color: var(--dl-color-neutral-white);
}
.frame112explore-cardelementstitlerestaurant5 {
  top: 273px;
  left: 16px;
  width: 296px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame112explore-text60 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-neutral-black);
  width: 264px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame112explore-timeandamount5 {
  top: 30px;
  left: 18px;
  width: 149px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.frame112explore-imgmask5 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 257px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text61 {
  top: 513px;
  left: 635px;
  color: var(--dl-color-neutral-black);
  width: 261px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  text-decoration: none;
}
.frame112explore-badgecontentindicatorfeatured6 {
  top: 557px;
  left: 798px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
}
.frame112explore-text62 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-text63 {
  top: 807px;
  left: 584px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 9.16030502319336px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 12.213740348815918px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-goodheart18 {
  top: 743px;
  left: 574px;
  width: 35px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame112explore-text67 {
  top: 739px;
  left: 613px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito;
  font-weight: 600px;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112explore-screenshot2022012814084720 {
  top: 557px;
  left: 569px;
  width: 327px;
  height: 176px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-badgecontentindicatorfeatured7 {
  top: 557px;
  left: 798px;
  width: 98px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0 16px;
  background-color: rgba(255, 0, 0, 1);
}
.frame112explore-text68 {
  color: var(--dl-color-neutral-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.frame112explore-avatarothermainavatar6 {
  top: 502px;
  left: 574px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 16px;
}
.frame112explore-img6 {
  top: -30px;
  left: -16px;
  width: 80px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
