* {
    color:black;
}
.comment{
    border: 1px solid black ;
    background-color: rgba(0, 0, 0, 0.25);
}

.posts{   
    border: 1.5px solid rgb(0, 0, 0);
}
.explore-post{
    border: 1.5px solid rgb(0, 0, 0);
}

