* {
    color:white;
    background-color: #212529!important;
}
.comment{
    border: 1px solid white ;
    background-color: rgba(0, 0, 0, 0.25);
}
.modal{
    background-color: rgba(0, 0, 0, 0.25)!important;
}
.posts{   
    border: 1px solid #181b1d;
}
.explore-post{
    border: 1px solid white;
}
.dropdown-item{
    color: white;
}