
* {
    font-family: 'Nunito';
    font-size: 20px;   
    text-decoration: none;
}
.post-mobile{
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top:1px solid rgba(88, 88, 88,0.5);
}
.post-image-mobile{
    width: 100%;
    height: auto;
}
.post-pfp-mobile{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
    float:left;
    margin-top:1%;
}
.post-likes-section{
    margin-top:1%;
}
.post{
    width: 35%;
    height: auto;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-top:1px solid rgba(88, 88, 88,0.5);

}
.post-image{
    width: 100%;
    height: auto;
}
.post-pfp{
    height: 2vw;
    width: 2vw;
    object-fit: cover;
    border-radius: 50%;
    float:left;
    margin-top:1%;
}
.comment{
    margin:20px;
    padding: 5px;
}
.pfp{
    width: 2vw;
    height: 2vw;
    object-fit: cover;
    border-radius: 50%;
}
.profile{
    display: inline;
}
.profile-pfp{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 50%;
}
.profile-posts{
    margin-left: 10%;
    margin-right: 10%;
}
.like{
    width: 2vw;
    height: auto;
}

.likes{
    margin-top: 1%;
    font-size: 18px;
}
.nav-bar-pfp
{
    width: 2vw;
    height: 2vw;
    object-fit: cover;
    border-radius: 50%;
}
.title{
    margin-left: 20vw;
    font-weight: bold;
}
.login{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.emailmargin{
    margin-top:3%
}
.newlogininputdiv{
    width: 50vw;
}
.registerbutton{
    width: 60vw;
}
.newlogininput{
    border-radius: 25px;
    border-color: black;
}
.explore-post{
    display: inline-block;
    flex-direction: column;
    width:15%; 
    height:auto;
    margin-inline: 20px;
    text-decoration: none;
}
.manage-posts{
    width: 20%;
    height: auto;
    display: inline-block;
}
.settings{
    margin-left: 20%;
    margin-right: 20%;
}
.public-profile-info{
    flex-direction: column;
}
.public-profile{
    margin-left: 30%;
    margin-right: 30%;
}
.edit-post{
    margin-left:25%;
    margin-right:25%;
}
.bigger-post-image{
    width:auto;
    height:500px;
}
.new_post{
    margin-top:1%;
    margin-left:25%;
    margin-right:25%;
}
.post-detail{
    margin-left:25%;
    margin-right:25%;
    width: auto;
    
}
.post-detail-content{
    border: solid 1px grey;
}
.post-detail-image{
    width: 100%;
    height: auto;
}
.post-detail-profile-section{
    margin-top:1%;
    margin-left:1%;
}
.comment-pfp{
    width: 1.5vw;
    height: 1.5vw;
    object-fit: cover;
    border-radius: 50%;
    float:left;
}
@media only screen and (max-width: 750px)
{
    *{
        font-size: 16px;
    }
    .pfp{
        width: 5vw;
        height: 5vw;
        object-fit: cover;
        border-radius: 50%;
      
    }
    .new_post{
        margin-top:1%;
        margin-left:0%;
        margin-right:0%;
    }
    .bigger-post-image{
        width:500px;
        height:auto;
    }
    .edit-post{
        margin-left:0%;
        margin-right:0%;
    }
    .login{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
    }
    .settings{
        margin-left: 0%;
        margin-right: 0%;       
    }
    .public-profile{
        margin-left: 0%;
        margin-right: 0%;     
    }
    .posts{
        margin-left: 0%;
        width: 100%;
        height: auto;
    }
    .login{
        margin-top: 15%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .register{
        margin-top: 10%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .newlogininputdiv{
        height:100%;
        width:40vh;
    }
    .registerbutton{
        width:100%;
    }
    .emailmargin{
        margin-top:10%
    }
    .newlogininput{
        border-radius: 25px;
        border-color: black;
    }

    .like{
        width: 10vw;
        height: auto;
    }
    .nav-bar-pfp{
        width: 10vw;
        height: 10vw;
   }
    .navbar-brand{
        margin-left: 0vw;
        font-weight: 600;
    }
}
