{% include 'post/base.html' %}
{% block content %}
{% comment %} <h1>Hello</h1>
{% for user in users %}
    <h1>{{user.username}}</h1>
{% endfor %} {% endcomment %}


<div class="dms">
    <div class="dms-users">
        {% for user in users %}
            <div class="dms-users-info">
                <img class="dms-pfp" src="{{user.profile.image.url}}">
                <h4 style="margin-top:10%;margin-left:2%;font-size:18px;">{{user.username}}</h4>
            </div>
        {% endfor %}
        
    </div>
   

    
</div>

{% endblock content%}