
{% include 'post/base.html' %}
{% load static %}
<script src="{% static 'javascript/like.js' %}"></script>
{% block content %}

{% for post in posts %}
        <div class="posts">
                  {% comment %} {% if post.user == user %}
                    <div style="float:right;">
                          <div class="dropdown" style="float:right;">
                              <button type="button" class="btn btn-{{user.profile.theme}}" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <span class="material-symbols-outlined">
                                      more_vert
                                      </span>
                          </button>
                              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item active" href="{% url 'edit-post' id=post.id %}">Edit</a></li>
                              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete">Delete</a></li>
                              
                              </ul>
                          </div>
                        </div>
                   {% endif %} {% endcomment %}
            <a href="{% url 'public_profile' username=post.user.username %}" class="text-decoration-none"><div>    
              <div class="input-group flex-nowrap" style="margin-left:1.5%; margin-top:1.5%;">
                  <img style="width: 2vw;height: 2vw;object-fit: cover;border-radius: 50%;" src="{{post.user.profile.image.url}}">
 
                  <div class="public-profile-info">
                      <p style="margin-left:15%" >{{post.user.username}} </p>  
                  </div>    
                   
              </div> 
            </div></a>
            <a href="{% url 'post-detail' post.id %}">
            {% if post.video_file %}
              <video class="posts-image" controls >
                <source src="{{post.file.url}}" type="video/mp4" preload="metadata"> </source>
              </video>
            {% else %}
              <img class="posts-image" src="{{post.file.url}}">
            {% endif %}
            <div class="post-content">
              {% if user in post.user_liked.all %}
                <a style="text-decoration:none;cursor: pointer;" onclick="like({{post.id}})">
                  <img class="like" id="like{{post.id}}" src="/static/images/heart-red.png"> 
                </a>
              {% else %}
                <a style="text-decoration:none;cursor: pointer;" onclick="like({{post.id}})">
                  <img class="like" id="like{{post.id}}" src="/static/images/heart-{{user.profile.theme}}.png">
                </a>
              {% endif %}
              
              <p id="likes{{post.id}}">{{post.user_liked.count}} likes</p>
              
              <p class="posts-comments">{{post.description|linebreaks}}</p>
              <a style="text-decoration:none;" href="{% url 'post-detail' id=post.id%}"><p class="lead" style="font-size:16px;">View all {{post.comments.count}} comments<p></a>
              {% for comment in post.comments.all|slice:"0:3"%}
                <p class="posts-comments"><strong class="posts-comments">{{comment.user}}</strong> {{comment.text}}</p>
              {% endfor %}
              <p class="lead" style="font-size:14px;">{{post.time_ago}}<p>
              </div>
    </div></a>
            <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delete">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete this post?
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'delete' id=post.id %}"><button type="button" class="btn btn-danger">Yes</button></a>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No Take me Back</button>
                    
                  </div>
                </div>
              </div>
            </div>
    </div></a>

{% endfor %}
{% endblock content%}