{% include 'post/base.html' %}
{% block content %}
{% for post in posts %}
    <a><div class="posts">
            <p><img class="pfp" src="{{post.user.profile.image.url}}" alt="Avatar">{{post.user}}</p>
            
            <p>{{post.date_posted}}</p>
            <img class="posts-image" src="{{post.image.url}}">
            <p>{{post.description}}</p>
            <a style="text-decoration:none;" href="{% url 'post-like' id=post.id %}">❤️ {{post.likes}}</a>
            {% for comment in post.comments.all|slice:"0:3"%}
                <p class="posts-comments">{{comment.user}} {{comment.text}}</p>
            {% endfor %}
    </div></a>
{% endfor %}
{% endblock content%}