{% load static %}
{% include 'post/base.html' %}
<script src="{% static 'javascript/reply.js' %}"></script>
<div class="post-detail">
    <div class="post-detail-content">
        <div class="post-detail-profile-section">
            <img class="pfp" style="float:left;" src="{{post.user.profile.image.url}}">
            <p style="float:left;margin-top:0.25%; margin-left:1%;">{{post.user.username}}</h1>
        </div>
        <img class="post-detail-image" src="{{post.file.url}}">
        <p>{{post.description}}</p>
    </div>
    <form method="post" action="{% url 'comment' post.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">post</button>
    </form>
    <div class="comments" style="margin-top:1%">
        {% for comment in post.comments.all %}
            <div>
                <img class="comment-pfp" src="{{comment.user.profile.image.url}}">
                <p style="margin-left:1%">{{comment.user}}</p>
            </div>
            <p>{{comment.text}}</p>  
            <a onclick="showReply({{comment.id}})">View {{comment.replys.count}} replys</a>
            <div class="replys" id="replys{{comment.id}}" style="margin-top:1%;display:none;">
                {% for reply in comment.replys.all %}
                    <div style="margin-left:5%;">
                        <img class="comment-pfp" src="{{reply.user.profile.image.url}}">
                        <p style="margin-left:1%">{{reply.user}}</p>
                        <p>{{reply.text}}</p>
                    </div>
                {% endfor %}
            </div>  
            
        {% endfor %}
    </div>
</div>
